In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/iris_alterado.csv')
df.tail(30)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
120  121            6.9           3.2            5.7           2.3  virginica
121  122            5.6           2.8            4.9           2.0  virginica
122  123            7.7           2.8            6.7           2.0  virginica
123  124            6.3           2.7            4.9           1.8  virginica
124  125            6.7           3.3            5.7           2.1  virginica
125  126            7.2           3.2            6.0           1.8  virginica
126  127            6.2           NaN            4.8           1.8  virginica
127  128            6.1           3.0            4.9           1.8  virginica
128  129            6.4           2.8            5.6           2.1  virginica
129  130            7.2           3.0            5.8           1.6  virginica
130  131            7.4           2.8            6.1           1.9  virginica
131  132            NaN           3.8            6.4           2.0  virginica
132  133            6.4           2.8            5.6           2.2  virginica
133  134            6.3           2.8            5.1           1.5  virginica
134  135            6.1           2.6            5.6           1.4  virginica
135  136            7.7           3.0            6.1           2.3  virginica
136  137            6.3           3.4            5.6           2.4  virginica
137  138            6.4           3.1            5.5           1.8  virginica
138  139            6.0           3.0            4.8           1.8  virginica
139  140            6.9           3.1            5.4           2.1  virginica
140  141            6.7           3.1           15.6           2.4  virginica
141  142            6.9           3.1            5.1           2.3  virginica
142  143            5.8           2.7            5.1           1.9  virginica
143  144            NaN           3.2            5.9           2.3  virginica
144  145            6.7           3.3            5.7           2.5  virginica
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

## Codificação de variável categórica para numérica

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Species_numerica'] = le.fit_transform(df['Species'])

df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_numerica
0,1,5.1,3.5,1.4,0.2,setosa,0
1,2,4.9,3.0,1.4,0.2,setosa,0
2,3,4.7,3.2,1.3,0.2,setosa,0
3,4,4.6,NaN,1.5,0.2,setosa,0
4,5,5.0,3.6,1.4,0.2,setosa,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica,2
146,147,6.3,2.5,5.0,1.9,virginica,2
147,148,6.5,3.0,5.2,2.0,virginica,2
148,149,6.2,3.4,5.4,2.3,virginica,2
149,150,5.9,3.0,5.1,1.8,virginica,2

In [ ]:
df.isna().sum()

Id                  0
SepalLengthCm       7
SepalWidthCm        4
PetalLengthCm       5
PetalWidthCm        3
Species             0
Species_numerica    0
dtype: int64

## Dados faltantes

In [ ]:
# Dados faltantes
# nova leitura dos dados
df = pd.read_csv('https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/iris_alterado.csv')

# deletar linhas com dados faltantes
df.dropna(inplace=True)
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1           3.5            1.4           0.2     setosa
1      2            4.9           3.0            1.4           0.2     setosa
2      3            4.7           3.2            1.3           0.2     setosa
4      5            5.0           3.6            1.4           0.2     setosa
5      6            5.4           3.9            1.7           0.4     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

[132 rows x 6 columns]

In [ ]:
# nova leitura dos dados
df = pd.read_csv('iris_alterado.csv')

# preencher com a média
df.fillna(df.mean(), inplace=True)
df

# Exercício: preencher com a média de cada espécie

/home/cibele/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1      3.500000            1.4           0.2     setosa
1      2            4.9      3.000000            1.4           0.2     setosa
2      3            4.7      3.200000            1.3           0.2     setosa
3      4            4.6      3.189726            1.5           0.2     setosa
4      5            5.0      3.600000            1.4           0.2     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7      3.000000            5.2           2.3  virginica
146  147            6.3      2.500000            5.0           1.9  virginica
147  148            6.5      3.000000            5.2           2.0  virginica
148  149            6.2      3.400000            5.4           2.3  virginica
149  150            5.9      3.000000            5.1           1.8  virginica

[150 rows x 6 columns]

In [ ]:
# nova leitura dos dados
df = pd.read_csv('https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/iris_alterado.csv')

# preencher com a mediana
df.fillna(df.median(), inplace=True)
df


# Exercício: substituir pela mediana do atributo para cada grupo

<ipython-input-9-dbfb9f001dbb>:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.median(), inplace=True)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1           3.5            1.4           0.2     setosa
1      2            4.9           3.0            1.4           0.2     setosa
2      3            4.7           3.2            1.3           0.2     setosa
3      4            4.6           3.0            1.5           0.2     setosa
4      5            5.0           3.6            1.4           0.2     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

[150 rows x 6 columns]

In [ ]:
# nova leitura dos dados
df = pd.read_csv('https://raw.githubusercontent.com/cibelerusso/Aprendizado_de_Maquina/main/Dados/iris_alterado.csv')

# preencher com o valor mais frequente
df.fillna(df.mode(), inplace=True)
df

# Exercício: por que não foi substituído?

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
0      1            5.1           3.5            1.4           0.2     setosa
1      2            4.9           3.0            1.4           0.2     setosa
2      3            4.7           3.2            1.3           0.2     setosa
3      4            4.6           NaN            1.5           0.2     setosa
4      5            5.0           3.6            1.4           0.2     setosa
..   ...            ...           ...            ...           ...        ...
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

[150 rows x 6 columns]

In [ ]:
df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     143.000000    146.000000     145.000000    147.000000
mean        5.844755      3.189726       3.837241      1.271429
std         0.808466      1.682803       2.011942      1.161423
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.400000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.700000     22.700000      15.600000     11.800000

In [ ]:
# Padronização dos dados

from sklearn.preprocessing import StandardScaler

# criar o objeto scaler
scaler = StandardScaler()


X = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]


# normalizar a matriz X
X_norm = pd.DataFrame(scaler.fit_transform(X))

X_norm.describe()

                  0             1             2             3
count  1.430000e+02  1.460000e+02  1.450000e+02  1.470000e+02
mean   1.490649e-16 -2.798370e-16  4.900295e-17 -2.416812e-16
std    1.003515e+00  1.003442e+00  1.003466e+00  1.003419e+00
min   -1.917441e+00 -7.094245e-01 -1.415089e+00 -1.012063e+00
25%   -9.244339e-01 -2.323906e-01 -1.115836e+00 -8.392717e-01
50%   -5.555283e-02 -1.131322e-01  2.806788e-01  2.468446e-02
75%    6.892024e-01  6.575553e-02  6.298074e-01  4.566625e-01
max    2.302839e+00  1.163383e+01  5.866736e+00  9.096224e+00

In [ ]:
# Detecção de outliers

import numpy as np
import pandas as pd


data = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

# calcular o IQR para cada coluna
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1 # Amplitude interquartil

# encontrar outliers
outliers = ((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1)

# exibir outliers
print(data[outliers])


# Exercício: separar por espécies

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
15             5.7           4.4            1.5           0.4
32             5.2           4.1            1.5           0.1
33             5.5           4.2            1.4           0.2
60             NaN           2.0            3.5           1.0
94             5.6          22.7            4.2           1.3
116            6.5           3.0            5.5          11.8
140            6.7           3.1           15.6           2.4